.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    width: 70%;
}

.gallery-container .card-style {
    width: 20rem;
    margin: 10px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-style {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.03) 0px 16px 8px, rgba(0, 0, 0, 0.03) 0px 32px 16px;
}

.btn-style:hover {
    transform: scale(1.05);
}

.ul-style {
    list-style-type: none;
    margin: 0;
    padding-left: 93px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.text-style {
    /* text-transform: capitalize; */
    text-transform: uppercase;
}

.text-style2 {
    text-transform: capitalize;
}

/* .text-style2::first-letter {
    text-transform:capitalize;
} */