.pizza-container {
    margin: auto;
    min-width: 300px;
    max-width: 1200px;
    /* min-height: 200px; */
    /* max-height: 700px; */
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px
}

.pizza-container h3 {
    margin: 0;
    padding: 0;
}

.pizza-container .card-style {
    max-width: 70rem;
    margin: auto;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.margin-style {
    margin: 20px;
}